 
   <br />
      <br />
        <p style="text-align:center; margin-top:5px; padding:5px;font-family: Arial;background: rgba(197, 204, 211, 0.98); color: #1571d7;font-size:1.1em; font-weight: bold" >
             
            
           @ViewBag.mensaje
             </p>

     
