
@{
    ViewBag.Title = "Cuenta confirmada!";
}


<div class="center wow fadeInDown animated tile-light">
    <h1>@ViewBag.Title</h1>
</div>



<div class="row wow fadeInDown animated ">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="panel panel-default tile wow fadeInDown animated" style="margin: 60px 0 80px 0">
            <div class="panel-heading">

                <h4>Cuenta verificada con éxito.</h4>

            </div>
            <div class="panel-body">
                <div>
                    @*<p>
                        Usuario: @ViewBag.Usuario<br />
                        
                    </p>*@
                    <p>
                        Gracias por confirmar la cuenta. Ya se encuntra habilitado para ingresar al sistema.
                    </p>
                    <p>
                        Para iniciar la sesión, haga click @Html.ActionLink("Aquí", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "btn btn-alt btn-sm" })
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

