<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="MPBA.DataAccess" version="1.1.0" targetFramework="net45" />
  <package id="MPBA.RenaperClient" version="1.0.0" targetFramework="net45" />
  <package id="Neurotec" version="5.0.0.0" targetFramework="net45" />
  <package id="Neurotec.Biometrics" version="5.0.0.0" targetFramework="net45" />
  <package id="Neurotec.Media" version="5.0.0.0" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
  <package id="Unity.Wcf" version="1.0.0" targetFramework="net45" />
  <package id="WCFExtrasPlus" version="2.4.0" targetFramework="net45" />
</packages>