<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MPBA.RenaperClient" version="1.0.0" targetFramework="net45" />
  <package id="Neurotec" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Biometrics" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Biometrics.Client" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Biometrics.Gui" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Cluster" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Devices" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Gui" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Licensing" version="5.0.0.0" targetFramework="net40" />
  <package id="Neurotec.Media" version="5.0.0.0" targetFramework="net40" />
  <package id="NLog" version="3.2.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net40" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net40" />
</packages>