 
<div id="tabs" class = "ui-tabs">
  <ul class = "ui-tabs-nav">
    <li><a href="#tabs-1">Datos Identificatorios</a></li>
    <li><a href="#tabs-2">Padres</a></li>
    <li><a href="#tabs-3" >Antecedentes</a></li>
    <li><a href="#tabs-4">Estudios Cursados</a></li>
    <li><a href="#tabs-5">Señas Particulares</a></li>
    <li><a href="#tabs-6">Tatuajes</a></li>

  </ul>
  
</div>
 
