
@{
    ViewBag.Title = "Proceso de Digitalización";
}



<div class="row">
   <h2>Digitalización de Huellas Dactilares</h2>

    <button type="button" id="decadactilar" class="btn btn-default">DecaDactilar</button>
    <button type="button" id="guardaIndividuales" class="btn btn-default">Recorta Dactilares Individuales</button>


   
        
            <div id="decadactilarPanel" >
            
                    <canvas id="c" width="1900" height="750" style="margin-top :0px; margin-left:0px !important ;border: 1px solid #000000;"></canvas>
              
            </div>
  
       
           <div id="individualPanel" >
               <table id="tHuellasRecortadas" class="table" >
                   <tbody>
                       <tr>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes0" style="position:relative;border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes1" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes2" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes3" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes4" style="border: 1px solid #000000;"></canvas>
                           </td>

                       </tr>
                       <tr>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes5" style="position:relative;border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes6" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes7" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes8" style="border: 1px solid #000000;"></canvas>
                           </td>
                           <td style="vertical-align: top;  width: 305px;height: 280px">
                               <canvas id="canvasRes9" style="border: 1px solid #000000;"></canvas>
                           </td>

                       </tr>
                       <tr>
                           <td style="width:305px"></td>

                         
   
                          

                       </tr>
                   </tbody> 
</table>



                         
           </div>
    </div> 
   

<script type="text/javascript">
    $("#decadactilarPanel").show();
    $("#individualPanel").hide();
    $("#decadactilar").on("click", function () {
        $("#individualPanel").hide();
       $("#decadactilarPanel").show("slow");
       

    });

    $("#salvaYClasifica").on("click", function () {
        $.ajax({
            type: 'POST',
            url: "../../Clasificacion/Index",
            data: '{ "CodigoBarra" : "' + @Model.CodigoDeBarras + '" }',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
           
        });

    });

    $("#guardaIndividuales").on("click", function () {
        
        $("#decadactilarPanel").hide();
        $("#individualPanel").show("slow");
        $("#salvaIndividuales").css("visibility", "visible");
        $("#salvaYClasifica").css("visibility", "visible");
        $("#salvaYClasifica").show();
       
      if (modificoRectangulo)
     {
           separarDactilares(); 
        }
   
        
        
      
    });
  


  $("div").removeClass("container body-content");
    /* $("#rectangulo").attr('transform', "rotate(45)");*/
    
  var modificoRectangulo = true;
  var canvas = new fabric.Canvas('c');
  //var canvasR = new fabric.Canvas('canvasRes');
  var imagenOriginal;
  var ancho = 0;
  var alto = 0;
  var tope = 0;
  var left = 0;

  var rectang = new Array(10);
  var imagenes = new Array(10);

    // canvas.backgroundImage = '/Images/decadactilar.jpeg';
    fabric.Object.prototype.transparentCorners = false;
    fabric.Image.fromURL('/Images/decadactilar.jpeg', function (oImg) {
        // scale image down, and flip it, before adding it onto canvas
        //    oImg.scale(0.5).setFlipX(true);
        oImg.scale(1);
        imagenOriginal = oImg;
        dedo1 = fabric.util.object.clone(imagenOriginal);
        canvas.add(oImg);
        // Para que no pueda correr la imagen de la huella
        oImg.set('selectable', false);
    });
    var coordenadasxyRect0= [220,80];
    var coordenadasxy2Rect0 = [530, 360];
    canvas.on("after:render", function () {
        canvas.calcOffset();
    });

    function degToRad(degrees) {
        return degrees * (Math.PI / 180);
    }
    function findByClipName(name) {
        return _(canvas.getObjects()).where({
            clipFor: name
        }).first()
    }


    function separarDactilares() {
        modificoRectangulo = false;
        for (var j = 0; j < 10   ; j++) {

            (function (paramj) {

                var shape = rectang[paramj];
                // Para lograr edicion, primero elimino el anterior
                var nombreCanvas = 'canvasRes' + paramj;
           
                var cres = document.createElement(nombreCanvas);
                cres.setAttribute('id', nombreCanvas);

                var canvasResultado = new fabric.Canvas(nombreCanvas);


                var context = canvas.getContext('2d');
            
                var contextR = canvasResultado.getContext('2d');
                              
            contextR.clearRect(0, 0, canvasResultado.getWidth(), canvasResultado.getHeight());
           

            canvasResultado.remove(canvasResultado.getActiveObject());
           

            canvasResultado.clear().renderAll();
           
            imageData = context.getImageData(shape.left+8, shape.top+8, shape.currentWidth - 16, shape.currentHeight - 16);
            var c = document.createElement('canvas');

            c.setAttribute('id', '_temp_canvas');
            c.width = shape.currentWidth;
            c.height = shape.currentHeight;

            c.getContext('2d').putImageData(imageData, 0, 0);

            canvasResultado.setWidth(shape.currentWidth + 50);
            canvasResultado.setHeight(shape.currentHeight + 50);

            canvasResultado.calcOffset();
            canvasResultado.renderAll();
        
            
            // necesito usar closure
            // http://stackoverflow.com/questions/17442299/images-in-a-loop-with-fabricjs
           var currentObj = c;
          (function (obj) {

            fabric.Image.fromURL(obj.toDataURL(), function (img) {
                img.left = 0;
                img.top = 0;
                img.hasBorders = true;
                img.lockRotation = false;
                imagenes[paramj] = img;
                canvasResultado.add(img);
                canvasResultado.calcOffset();
          
                canvasResultado.setActiveObject(img);
                canvasResultado.getActiveObject().bringToFront();
                canvasResultado.renderAll();
 
           
              
            });
          })(currentObj);
        
             c = null;
             $('#_temp_canvas').remove();

          canvasResultado.clipFor = paramj;
          canvasResultado.stateful = false;
    
        canvasResultado.forEachObject(function (obj) {
                var setCoords = obj.setCoords.bind(obj);
                obj.on({
                    moving: setCoords,
                    scaling: setCoords,
                    rotating: setCoords
                });
           });
                
                
        
            
            })(j);
        }





    }



     
 
    function agrego_rectangulos()
    {
        var leftInicial = 220;
        var desplaza = 0;
        topInicial = 80;
        // Agrego 5 rectangulos
        // Mano Derecha
        // Si queres que no rote
        //lockRotation: true
   
        for (var i = 0; i < 5   ; i++)
        {
            rectang[i] = new fabric.Rect({
                originX: 'left',
                originY: 'top',
                left: leftInicial + desplaza,
                top: topInicial,
                opacity: 0.1,
                hasBorders: true,
                fill: '#DDD', 
                width: 310,
                height: 280,
                borderColor: 'red',
                stroke: 'red',
                lockRotation: true,
                strokeWidth: 8
             

            });
            rectang[i].set({
               clipFor: 'rect'+i
           });
        
            canvas.add(rectang[i]);
           canvas.calcOffset();
        
           var recuadro = "#" + rectang[i].clipFor;


           rectang[i].bringToFront();
         desplaza += 310;

        }
        //Mano Izquierda
        var topInicial =435;
        desplaza = 0;
        leftInicial = 220;
        for (var i = 5; i < 10   ; i++) {
            rectang[i] = new fabric.Rect({
                originX: 'left',
                originY: 'top',
                left: leftInicial + desplaza,
                top: topInicial,
                opacity: 0.1,
                hasBorders: true,
                fill: '#DDD',
                width: 310,
                height: 280,
                borderColor: 'red',
                stroke: 'red',
                lockRotation:true,
                strokeWidth: 5

            });
            rectang[i].set({
                clipFor: 'rect' + i
            });

         

            canvas.add(rectang[i]);
          
            rectang[i].bringToFront();
           

            var recuadro = "#" + rectang[i].clipFor;
            desplaza += 310;


        }
     

             
    }


   canvas.on({
        'object:moving': onChange,
        'object:rotating': onChange,
       'object:modified': onChange,
        'object:scaling': onChange
   
   });
 
   function onChange(options) {
      
       modificoRectangulo = true;
    }
    $(window).load(agrego_rectangulos) ;
</script>


