@model ISICWeb.Areas.Otip.Models.DatosGeneralesViewModel

@{
    ViewBag.Title = "VerImputado";
 
}


<div class="container-detalle">

    <div class="center wow fadeInDown animated tile-light">
        <h1>Delito en la base del SIC</h1>
    </div>


    @{
        Html.RenderPartial("_DatosGeneralesImputado", Model);
        Html.RenderPartial("_DatosSomaticosImputado", Model);
        Html.RenderPartial("_ImagenesImputado", Model);
        //Html.RenderPartial("_Antecedentes", Model);
        //Html.RenderPartial("_Afis", Model);
        Html.RenderAction("Afis");
    }
</div>
@section footer
{
    <div class="col-md-2 col-sm-3">
        <a class="btn btn-lg btn-alt volver" href='#' onclick=' window.history.go(-1); return false; ' title=" volver" type="button">
            Volver
        </a>
    </div>
}
