@model ISICWeb.Areas.Otip.Models.DatosGeneralesViewModel

@{
    ViewBag.Title = "VerImputado";
 
}


<div class="container-detalle">

    <div class="center wow fadeInDown animated tile-light">
        <h1>Delito en la base del SIC</h1>
    </div>


    @{
        Html.RenderPartial("_DatosGeneralesImputado", Model);
        Html.RenderPartial("_DatosSomaticosImputado", Model);
        Html.RenderPartial("_ImagenesImputado", Model);
        if (Model.Prontuario.DatosGNA != null)
        {
            Html.RenderPartial("_AntecedentesGna", Model.Prontuario);
        }
        
        if (Model.Prontuario.DatosMigracioneses != null)
        {
            Html.RenderPartial("_AntecedentesMigraciones", Model.Prontuario);    
        }
        if (Model.Prontuario.ProntuariosIdgx != null)
        {
            Html.RenderPartial("_AntecedentesIdgx", Model.Prontuario);
        }
        if (Model.Prontuario.DatosAFIS != null)
        {
            Html.RenderPartial("_Afis", Model.Prontuario);
        }
        
        
        

    }
</div>
@section footer
{
    <div class="col-md-2 col-sm-3">
        <a class="btn btn-lg btn-alt volver" href='#' onclick=' window.history.go(-1); return false; ' title=" volver" type="button">
            Volver
        </a>
    </div>
}
