@model ISIC.Entities.Migraciones
@{
    ViewBag.Title = "Contacto";
}


<div class="center wow fadeInDown animated tile-light">
    <h1>@ViewBag.Title</h1>
    
</div>
@using (Html.BeginForm("GuardarContacto","Home"))
{
    @Html.TextBoxFor(x=>x.Id,new {@class="form-control"})
    @Html.DropDownListFor(x => x.ExpedienteMigraciones.Id, ViewBag.dnilist as SelectList, new {@class="form-control"})

    <div class="row tile-light wow fadeInDown animated" data-wow-delay=" 300ms" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">

        <address>
            SIC<br/>
            La Plata, 1900<br/>
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Soporte:</strong> <a href="mailto:sic@mpba.gov.ar">sic@mpba.gov.ar</a><br/>
        </address>
    </div>
    <input type="submit" value="Enviar" class="btn btn-lg"/>
}