@model IEnumerable<ISIC.Entities.Imputado>

<div class="container body-content" style="margin-bottom: 50px">
    <section id="Imputados">

        <div class="center tile-light">
            <h1>Imputados Encontrados</h1>
            <small>Cantidad Máxima Permitida: @ViewBag.CantidadMaxima</small>
        </div>

        <div>
            <div style="margin-bottom: 50px">
                <table id="table" class="table  table-bordered table-hover table-condensed table-striped tile tabla" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Rostro
                            </th>
                            <th>
                                Código de Barras
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Documento Número
                            </th>

                     
                            <th>
                                Id
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>




            </div>

            @{
                if (ViewData.ModelState.IsValid == false)
                {
                    <div class="alert alert-danger alert-icon">
                        <i class="icon flaticon-caution2"></i>
                        <b>No se hallaron resultados</b>
                        </div>
                }
            }
            
        </div>
    </section>
</div>

@section footer
{
    <div class="col-md-2 col-sm-3 col-xs-4">
        <a class="btn btn-lg btn-alt volver" href='#' onclick=' window.history.go(-1); return false; ' title=" volver" type="button">
            Volver
        </a>
    </div>
    <div class="col-md-6 col-md-offset-2 col-sm-9 col-xs-4 text-center">
        @*<button id="btnBuscar" type="submit" class="btn btn-alt btn-lg" title="Buscar" onclick=" showPageLoadingSpinner() ">Buscar</button>*@


    </div>
}


@section scripts
{

    <script type="text/javascript">
    $(function () {
        $("div.dataTables_filter>label>input").addClass("form-control");//estilo correcto a filtro
        $("div.dataTables_length>label>select").addClass("form-control");//estilo correcto a cant de filas
        $(".DTTT_container >a").each($).removeClass().addClass("btn btn-sm");//agrego estilo correcto a botones de tabla
        $("#table_filter").addClass("tile");
    });
    var urlTablaImputados = '@Url.Action("MostrarImputados", "Busqueda")';
        var urlVerImputado = '@Url.Action("VerImputado", "Busqueda")';

    </script>
}

